<%- include('../_header') -%>


<h1 class="mb-4">Пост</h1>

<form action="" method="GET">
	<%- include('_display_form_fields') %>	
	<div class="form-group">
		<a class="btn btn-secondary" href="/posts">Назад</a>
		
	</div>			
</form>

<%- include('../_footer') -%>